.flexColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.JCFlexEnd{
  justify-content: flex-end;
}

.JCFlexStart{
  justify-content: flex-start;
}

.JCCenter{
  justify-content: center;
}

.AIFlexEnd{
  align-items: flex-end;
}

.AIFlexStart{
  align-items: flex-start;
}

.AICenter{
  align-items: center;
}

.whiteText{
  color:white;
}

.boldText{
  font-weight: bold;
}

.italicText{
  font-style: italic;
}

.fullscreen{
  min-height: 100vh;
  min-width: 100vw;
}

.fullWidth{
  min-width: 100vw;
}

.fullHeight{
  min-height: 100vh;
}

.newLink{
  text-decoration: none;
}

.newLink:hover{
  text-decoration: underline;
}

.f1o5{
  font-size: 1.5rem;
}