.mediumLogo{
  height: 30vh;
  margin-bottom: 2%;
}

.flexRow{
  display: flex;
  flex-direction: row;
 }

.flexColumn{
 display: flex;
 flex-direction: column;
}

.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.JCFlexEnd{
  justify-content: flex-end;
}

.JCFlexStart{
  justify-content: flex-start;
}

.JCCenter{
  justify-content: center;
}

.AIFlexEnd{
  align-items: flex-end;
}

.AIFlexStart{
  align-items: flex-start;
}

.AICenter{
  align-items: center;
}

.whiteText{
  color:white;
}

.blackText{
  color: black;
}

.boldText{
  font-weight: bold;
}

.italicText{
  font-style: italic;
}

.fullscreen{
  min-height: 100vh;
  min-width: 100vw;
}

.fullWidth{
  min-width: 100vw;
}

.fullHeight{
  min-height: 100vh;
}

.newLink{
  text-decoration: none;
}

.newLink:hover{
  text-decoration: underline;
}

.f1o5{
  font-size: 1.5rem;
}

.w100p{
  width: 100%;
}

.mh20p{
  margin-left: 20%;
  margin-right: 20%;
}

.mh2p{
  margin-left: 2%;
  margin-right: 2%;
}

.p1o8{
  padding: 1.8rem;
}

.border-rad20p{
  border-radius: 18px;
}

.mt1p{
  margin-top: 1%;
}

.shadow{
  box-shadow: 1px;
}

.bgcWhite{
  background-color: white;
}